@page "/"
@inherits WalletComponent
@inject TokenService TokenService

<PageTitle>Ownable</PageTitle>

<form class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="oi oi-magnifying-glass h4 text-body"></i>
        </div>
        <div class="col">
            <input @bind-value="@Account" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Enter a contract address">
        </div>
        <div class="col-auto">
            <button @onclick="OnSearchClicked" class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
    </div>
</form>

<style>
    .form-control-borderless {
        border: none;
    }

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
</style>



@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        HostProvider.SelectedAccountChanged += OnSelectedAccountChanged;
    }

    private Task OnSelectedAccountChanged(string account)
    {
        Logger?.LogInformation("Account changed to {Account}", account);
        return Task.CompletedTask;
    }

    public override void Dispose()
    {
        base.Dispose();

        HostProvider.SelectedAccountChanged -= OnSelectedAccountChanged;
    }

    [Parameter]

    public string? Account { get; set; }

    private async Task OnSearchClicked()
    {
        if (!string.IsNullOrWhiteSpace(Account) && HostProvider.Available)
        {
            var web3 = await HostProvider.GetWeb3Async();
            
        }
    }
}