@page "/"
@inherits WalletComponent

<PageTitle>Ownable</PageTitle>

@if (Contracts != null)
{
    <h2>Indexed Contracts</h2>
    <ul>
        @foreach (var item in Contracts)
        {
            <li>@item.Name</li>
        }
    </ul>
}

@if (Received != null)
{
    <h2>Tokens Received</h2>
    <ul>
        @foreach (var item in Received)
        {
            <li>@item.ContractAddress: @item.TokenId at @item.BlockNumber</li>
        }
    </ul>
}

@code
{
    private List<Contract>? Contracts { get; set; }
    private List<Received>? Received { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        HostProvider.SelectedAccountChanged += OnSelectedAccountChanged;

        Contracts = await Http.GetFromJsonAsync<List<Contract>>("contracts");
    }

    private Task OnSelectedAccountChanged(string account)
    {
        Logger?.LogInformation("Account changed to {Account}", account);
        return Task.CompletedTask;
    }

    public override void Dispose()
    {
        base.Dispose();

        HostProvider.SelectedAccountChanged -= OnSelectedAccountChanged;
    }
}
